$header : #e8f1ff;
.profile-template {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 85%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    font-family: sans-serif;;
}

.profile-picture-format {
    border-radius: 100px;
}
.jumbotron {
  height: 175px;
  padding: 10px;
  background-color: $header;
}
#header-title{
  text-align: center;
}
#header-img{
  display: block;
  height: 127px;
  margin: auto;
  width: 410px;
  padding: 10px;
}
